#container {
    padding-left: 10px;
    padding-right: 10px;
     padding-top: 5px;
    padding-bottom: 5px;
}

#inner-kenteken-wrapper::before {
    content: "NL";
    background: #0441de;
    color: white;
    padding: 23px 5px 5px 5px;
    border: 2px solid black;
    position: relative;
    left: 7px;
    top: 3px;
    font-size: 1.1rem;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
}
  

#kenteken {
    background: #fcc11b;
    border: 2px solid #240e00;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 0px;
    padding: 20px;
    width: 225px;
    letter-spacing: 10px;
    text-align: center;
}

.outer-kenteken-wrapper {
    display: flex;
    justify-content: start;
    width: 25%;
}

#button {
    margin: 3px 10px 0px 10px;
}

form {
    width: 50%;
}